.label {
    display: block;
    text-align: center;
    color: #6c17ea;
}

.input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #6c17ea;
}